body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header and Navigation Styles */
header {
    background-color: #21B8E8; /* Dark Blue background */
    padding: 10px 0;
    box-shadow: 0px 4px 2px -2px gray;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li img {
    height: 50px; /* Adjust logo size */
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
    border-radius: 5px;
}

nav ul li button a {
    color: white;
    text-decoration: none;
}

button {
    background-color: #007BFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}


.about-us, .contact-us {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
