/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007BFF;
}

.auth-box {
    background-color: white;
    justify-content: center;
    align-items: center;

    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form h2 {
    text-align: center;
    color: #007BFF;
}

.auth-form label {
    font-weight: bold;
}

.auth-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.auth-form button {
    background-color: #007BFF;
    color: white;
    align-self: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.auth-form button:hover {
    background-color: #0056b3;
}

.auth-form p {
    text-align: center;
}

.auth-form p a {
    color: #007BFF;
    text-decoration: none;
}

.auth-form p a:hover {
    text-decoration: underline;
}

/* Hide Sign-Up by Default */
.hidden {
    display: none;
}
